.a{
	background: url(https://png.pngtree.com/element_origin_min_pic/16/07/29/13579aebf2ddb23.jpg);
}
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  align-items: center;
  justify-content: center;
}

p {
    margin-top: 20px;
    text-align: center;
}

canvas {
  display: block;
  margin: 20px auto;
  background: black url("http://api.thumbr.it/whitenoise-560x800.png?background=0f1517ff&noise=626262&density=67&opacity=15") repeat fixed center;
}